.comments-title {
  text-decoration: bold;
  color: blue;
  cursor: pointer;
}

.close {
  text-decoration: bold;
  color: red;
  cursor: pointer;
}

.comments-footer {
  display: flex;
  justify-content: space-between;
}

.add {
  cursor: pointer;
  color: green;
}

.formfields {
  border-style: none;
  background-color: lightblue;
  padding-top: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  width: 250px;
  height: 50px;
  margin: 10px;
}

.comment-button {
  width: 200px;
}
